@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
:root {
  /*colors*/
  --light-gray: hsl(0, 0%, 47%);
  --gray: hsl(0, 0%, 54%);
  --dark-gray: hsl(0, 0%, 17%);
  --black: hsl(0, 0%, 0%);

  /*fonts*/
  --light: 400;
  --normal: 500;
  --bold: 700;
}
